$colors: (
  'black': #000,
  'black-1': #00000020,
  'black-2': #00000010,
  'black-3': #00000025,
  'black-4': #212529,
  'black-5': #00000015,
  'black-6': #00000008,
  'black-7': #00000043,
  'white': #ffffff,
  'white-op5': #ffffff80,
  'white-1': #fafafa,
  'white-2': #f5f5f5,
  'white-3': #f2f4f7,
  'white-4': #f0f0f0,
  'white-5': #999,
  'white-6': #ddd,
  'gray': #707070,
  'gray-1': #e6e6e6,
  'gray-2': #666666,
  'gray-3': #9e9e9e,
  'gray-4': #f1f4f8,
  'gray-5': #fafafa,
  'gray-6': #f2f4f7,
  'gray-7': #e2e9f3,
  'gray-8': #ebebeb,
  'gray-9': #707071,
  'gray-10': #e8e8e8,
  'velvet': #640836,
  'primary': #194b9b,
  'primary-1': #00246c,
  'primary-2': #5776cd,
  'primary-3': #3256b7,
  'primary-4': #203a7b,
  'primary-5': #f1f4f8,
  'primary-6': #c6d0e3,
  'primary-7': #f2f7ff,
  'secondary': #e6165d,
  'secondary-1': #e61616,
  'secondary-2': #ff5c8a,
  'secondary-3': #f8c3d5,
  'success': #52a262,
  'success-1': #f4fcf5,
  'success-2': #1aa55b,
  'warning': #feefb3,
  'warning-1': #9f6000,
  'error': #d8000c,
  'error-1': #f7f2f2,
  'error-2': #ffd2d2,
  'error-3': #ff453a,
  'disabled': #7190c1,
  'disabled-1': #7190c1,
  'disabled-2': #c3d0e5,
  'divider': #acacac4d,
  'pink': #bd1a8d,
);

$font-sizes: (
  0: 0.5rem,
  1: 0.625rem,
  // 10px
  2: 0.75rem,
  // 12px
  3: 0.875rem,
  // 14px
  4: 1rem,
  5: 1.25rem,
  // 20px
  6: 1.5rem,
  // 24px
  7: 2rem,
  // 32px
  8: 2.5rem,
  // 40px
  9: 6rem // 96px,,,,,,,,
);

$font-weights: (
  '400': 400,
  '500': 500,
  '600': 600,
  '700': 700,
  '800': 800,
  'bold': bold,
);
