$colors: (
  'black': #000,
  'white': #ffffff,
  'gray': #707070,
  'gray-1': #e6e6e6,
  'gray-2': #666666,
  'gray-3': #9e9e9e,
  'gray-4': #f1f4f8,
  'gray-5': #fafafa,
  'primary': #194b9b,
  'secondary': #e61616,
  'success': #52a262,
  'success-2': #1aa55b,
  'warning': #9f6000,
  'error': #d8000c,
  'disabled': #7190c1,
  'divider': #acacac4d,
  'pink': #bd1a8d,
);

$font-sizes: (
  0: 0.5rem,
  1: 0.625rem,
  // 10px
  2: 0.75rem,
  // 12px
  3: 0.875rem,
  // 14px
  4: 1rem,
  5: 1.25rem,
  // 20px
  6: 1.5rem,
  // 24px
  7: 2rem,
  // 32px
  8: 2.5rem,
  // 40px
  9: 6rem // 96px,,,,,,,,
);

$font-weights: (
  '400': 400,
  '500': 500,
  '600': 600,
  '700': 700,
  '800': 800,
  'bold': bold,
);
